<div id="modal-create-movie" class="modal-movie">
    <div class="modal-content">

        <div style="padding-bottom: 10px;">
            <h5 style="float: left;">Create</h5>
            <button type="button" class="Close" id="closeModalBtn"><span>&times;</span></button>    
        </div>
        
        
        <form action="{% url 'movie_create' %}" method="POST">
            {% csrf_token %}
            <div>
                <label for="movieName">Name</label>
                <input type="text" id="movieName" placeholder="Enter name" name="Name" required>
            </div>

            <div>
                <label for="movieImage">Image</label>
                <input type="url" id="movieImage" placeholder="Img Url" name="Pictures">
            </div>

            <div>
                <label for="movieRating">Rating</label>
                <input type="number" id="movieRating" placeholder="1-10" min="1" max="10" name="Rating" required>
            </div>

            <div>
                <label for="movieNotes">Notes</label>
                <textarea name="Notes" id="moiveNotes" name="Notes"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Create new movie</button>
        </form>
    
        
    </div>
</div>

